.taskbarItem-main {
  height: 22px;
  background-color: rgb(60, 129, 243);
  box-shadow: rgb(0, 0, 0 / 30%) -1px 0px inset,
    rgb(255, 255, 255) 1px 1px 1px inset;
  font-size: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  min-width: 140px;
  color: white;

  img {
    height: 18px;
    margin: 0 10px;
  }
  span {
    margin: 0 10px 0 0;
  }
}

.taskbarItemFocused {
  background-color: rgb(30, 82, 183);
  box-shadow: rgb(0, 0, 0 / 20%) 0px 0px 1px 1px inset,
    rgb(0, 0, 0 / 70%) 1px 0px 1px inset;
}

.taskbarItemFocused:hover,
.taskbarItem-main:hover {
  filter: brightness(1.2);
}
