.main {
  background-image: url("assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  &__program-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    left: 30px;
    top: 30px;
  }
}
