@font-face {
  font-family: Tahoma;
  src: url("./assets/fonts/Tahoma.ttf");
  font-weight: bold;
}

* {
  user-select: none;
}
body {
  margin: 0;
  font-family: Tahoma;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}

.shadow {
}
